name: Daily Report

on:
  schedule:
    - cron: '30 2 * * *' # 8:30 AM Dhaka (UTC+6) is 2:30 AM UTC
  workflow_dispatch:

jobs:
  send_report:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Report Bot
      env:
        GOOGLE_CREDENTIALS_JSON: ${{ secrets.GOOGLE_CREDENTIALS_JSON }}
        SHEET_ID: ${{ secrets.SHEET_ID }}
        SHEET_NAME: ${{ secrets.SHEET_NAME }}
        RANGE_1: ${{ secrets.RANGE_1 }}
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: python report_bot.py
